[Unit]
Description=Dashboard main.py
#Wants=network-online.target
#After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Luftqualitaet
ExecStartPre=/bin/sleep 20
ExecStart=/home/pi/airdata-venv/bin/python -u /home/pi/Luftqualitaet/main.py
Restart=always
RestartSec=60s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
